---
http_interactions:
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-45-66
      X-Deere-Elapsed-Ms:
      - '10'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"@type":"ApiCatalog","links":[{"@type":"Link","rel":"oauthRequestToken","uri":"https://sandboxapi.deere.com/platform/oauth/request_token"},{"@type":"Link","rel":"oauthAuthorizeRequestToken","uri":"https://my.deere.com/consentToUseOfData?oauth_token={token}"},{"@type":"Link","rel":"oauthAccessToken","uri":"https://sandboxapi.deere.com/platform/oauth/access_token"},{"@type":"Link","rel":"agencies","uri":"https://sandboxapi.deere.com/platform/agencies"}]}'
  recorded_at: Mon, 10 Feb 2020 17:29:31 GMT
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-28
      X-Deere-Elapsed-Ms:
      - '44'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations"},{"rel":"nextPage","uri":"https://sandboxapi.deere.com/platform/organizations;start=10;count=10"}],"total":15,"values":[{"@type":"Organization","name":"Organization
        Name","type":"customer","member":true,"id":"000000","links":[{"@type":"Link","rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations/000000"},{"@type":"Link","rel":"machines","uri":"https://sandboxapi.deere.com/platform/organizations/000000/machines"},{"@type":"Link","rel":"wdtCapableMachines","uri":"https://sandboxapi.deere.com/platform/organizations/000000/machines?capability=wdt"},{"@type":"Link","rel":"files","uri":"https://sandboxapi.deere.com/platform/organizations/000000/files"},{"@type":"Link","rel":"transferableF[...]
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/organizations/000000/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-205
      X-Deere-Elapsed-Ms:
      - '89'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations/000000/assets"}],"total":8,"values":[{"@type":"ContributedAsset","title":"Asset
        Title","assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","lastModifiedDate":"2020-02-10T11:29:32.000Z","id":"00000000-0000-0000-0000-000000000000","links":[{"@type":"Link","rel":"self","uri":"https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000"},{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/platform/contributionDefinitions/00000000-0000-0000-0000-000000000000"},{"@type":"Link","rel":"organization","uri":"https://sandboxapi.deere.com/platform/organizations/000000"},{"@type":"Link","rel":"locations","uri":[...]
- request:
    method: post
    uri: https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000/locations
    body:
      encoding: UTF-8
      string: '[{"timestamp":"2020-02-10T11:29:32.000Z","geometry":"{\"type\":\"Feature\",\"geometry\":{\"geometries\":[{\"coordinates\":[-96.668978,40.865984],\"type\":\"Point\"}],\"type\":\"GeometryCollection\"}}","measurementData":[{"name":"Temperature","value":"68.0","unit":"F"}]}]'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="j6n5nXd3YUxf2DSeTHRDGwb2n9E%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      X-Deere-Handling-Server:
      - ip-10-214-45-186
      X-Deere-Elapsed-Ms:
      - '201'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Feb 2020 17:29:32 GMT
recorded_with: VCR 5.0.0
