---
http_interactions:
- request:
    method: post
    uri: https://sandboxapi.deere.com/platform/organizations/000000/assets
    body:
      encoding: UTF-8
      string: '{"title":"Asset Title","assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","links":[{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/platform/contributionDefinitions/00000000-0000-0000-0000-000000000000"}]}'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="hObY6LROUn9S1WS8S28eTTfqmWk%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      X-Deere-Handling-Server:
      - ip-10-214-45-213
      Location:
      - https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000
      X-Deere-Elapsed-Ms:
      - '121'
      Retry-After:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Feb 2020 17:29:26 GMT
[...]
- request:
    method: post
    uri: https://sandboxapi.deere.com/platform/organizations/000000/assets
    body:
      encoding: UTF-8
      string: '{"title":"Asset Title","assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","links":[{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/platform/contributionDefinitions/00000000-0000-0000-0000-000000000000"}]}'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="hObY6LROUn9S1WS8S28eTTfqmWk%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      X-Deere-Handling-Server:
      - ip-10-214-45-213
      Location:
      - https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000
      X-Deere-Elapsed-Ms:
      - '121'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Feb 2020 17:29:26 GMT
recorded_with: VCR 5.0.0
