---
http_interactions:
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/organizations/000000/fields/00000000-0000-0000-0000-000000000000/flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-185
      X-Deere-Elapsed-Ms:
      - '254'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations/000000/fields/00000000-0000-0000-0000-000000000000/flags"}],"total":0,"values":[]}'
  recorded_at: Fri, 07 Feb 2020 04:29:48 GMT
recorded_with: VCR 5.0.0
