---
http_interactions:
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-84
      X-Deere-Elapsed-Ms:
      - '17'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"@type":"ApiCatalog","links":[{"@type":"Link","rel":"oauthRequestToken","uri":"https://sandboxapi.deere.com/platform/oauth/request_token"},{"@type":"Link","rel":"oauthAuthorizeRequestToken","uri":"https://my.deere.com/consentToUseOfData?oauth_token={token}"},{"@type":"Link","rel":"oauthAccessToken","uri":"https://sandboxapi.deere.com/platform/oauth/access_token"},{"@type":"Link","rel":"agencies","uri":"https://sandboxapi.deere.com/platform/agencies"}]}'
  recorded_at: Fri, 07 Feb 2020 16:22:23 GMT
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-252
      X-Deere-Elapsed-Ms:
      - '141'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations"},{"rel":"nextPage","uri":"https://sandboxapi.deere.com/platform/organizations;start=10;count=10"}],"total":15,"values":[{"@type":"Organization","name":"Organization
        Name","type":"customer","member":true,"id":"000000","links":[{"@type":"Link","rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations/000000"},{"@type":"Link","rel":"machines","uri":"https://sandboxapi.deere.com/platform/organizations/000000/machines"},{"@type":"Link","rel":"wdtCapableMachines","uri":"https://sandboxapi.deere.com/platform/organizations/000000/machines?capability=wdt"},{"@type":"Link","rel":"files","uri":"https://sandboxapi.deere.com/platform/organizations/000000/files"},{"@type":"Link","rel":"transferableF[...]
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/organizations/000000/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-44-84
      X-Deere-Elapsed-Ms:
      - '36'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"links":[{"rel":"self","uri":"https://sandboxapi.deere.com/platform/organizations/000000/assets"}],"total":8,"values":[{"@type":"ContributedAsset","title":"Asset
        Title","assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","lastModifiedDate":"2020-02-06T22:30:14.000Z","id":"00000000-0000-0000-0000-000000000000","links":[{"@type":"Link","rel":"self","uri":"https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000"},{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/platform/contributionDefinitions/00000000-0000-0000-0000-000000000000"},{"@type":"Link","rel":"organization","uri":"https://sandboxapi.deere.com/platform/organizations/000000"},{"@type":"Link","rel":"locations","uri":[...]
