---
http_interactions:
- request:
    method: put
    uri: https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000
    body:
      encoding: UTF-8
      string: '{"assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","title":"i
        REALLY like turtles!","links":[{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/contributionDefinitions/00000000-0000-0000-0000-000000000000"}]}'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="JXqhMr0ayK5gfHyej3M1xuUfSbw%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      X-Deere-Handling-Server:
      - ip-10-214-44-33
      X-Deere-Elapsed-Ms:
      - '185'
      Retry-After:
      - '13'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Feb 2020 17:29:30 GMT
[...]
- request:
    method: put
    uri: https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000
    body:
      encoding: UTF-8
      string: '{"assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","title":"i
        REALLY like turtles!","links":[{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/contributionDefinitions/00000000-0000-0000-0000-000000000000"}]}'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="JXqhMr0ayK5gfHyej3M1xuUfSbw%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581334172", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Deere-Handling-Server:
      - ip-10-214-44-33
      X-Deere-Elapsed-Ms:
      - '185'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Feb 2020 17:29:30 GMT
recorded_with: VCR 5.0.0
