---
http_interactions:
- request:
    method: get
    uri: https://sandboxapi.deere.com/platform/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json;charset=UTF-8
      X-Deere-Handling-Server:
      - ip-10-214-45-97
      X-Deere-Elapsed-Ms:
      - '8'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"@type":"ApiCatalog","links":[{"@type":"Link","rel":"oauthRequestToken","uri":"https://sandboxapi.deere.com/platform/oauth/request_token"},{"@type":"Link","rel":"oauthAuthorizeRequestToken","uri":"https://my.deere.com/consentToUseOfData?oauth_token={token}"},{"@type":"Link","rel":"oauthAccessToken","uri":"https://sandboxapi.deere.com/platform/oauth/access_token"},{"@type":"Link","rel":"agencies","uri":"https://sandboxapi.deere.com/platform/agencies"}]}'
  recorded_at: Fri, 07 Feb 2020 16:22:26 GMT
- request:
    method: put
    uri: https://sandboxapi.deere.com/platform/assets/00000000-0000-0000-0000-000000000000
    body:
      encoding: UTF-8
      string: '{"assetCategory":"DEVICE","assetType":"SENSOR","assetSubType":"ENVIRONMENTAL","links":[{"@type":"Link","rel":"contributionDefinition","uri":"https://sandboxapi.deere.com/platform/contributionDefinitions/00000000-0000-0000-0000-000000000000"}],"title":"i
        REALLY like turtles!"}'
    headers:
      Content-Type:
      - application/vnd.deere.axiom.v3+json
      Authorization:
      - OAuth oauth_body_hash="2cYRiTc%2BBr3sgGXkMJr4suLgHUc%3D", oauth_consumer_key="johndeere-0000000000000000000000000000000000000000",
        oauth_nonce="000000000000000000000000000000000000000000", oauth_signature="0000000000000000000000000000",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1581028214", oauth_token="00000000-0000-0000-0000-000000000000",
        oauth_version="1.0"
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Deere-Handling-Server:
      - ip-10-214-44-197
      X-Deere-Elapsed-Ms:
      - '77'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 07 Feb 2020 16:22:27 GMT
recorded_with: VCR 5.0.0
